In [34]:
!ls

data  features	src  Testing_state_of_the_art_timeseries_analysis.ipynb

In [10]:
module_path

'/home/andrine/Desktop/AndrineElsetronning_Master2021'

In [13]:
import sys
import os

module_path = os.path.abspath(os.path.join(''))
src_path = module_path + '/src/'
data_path = module_path + '/data/'
sys.path.insert(1, src_path)
import utility
import random

In [18]:
TARGET_RATE = 41000
N_SAMPLES = 10

In [19]:
random.seed(20)
filepath1 = data_path + 'crackle/'
filepath2 = data_path + 'no-crackle/'
# Assumes that the data beloning to a label is saved in seperate directories 
label1 = os.listdir(filepath1) 
label2 = os.listdir(filepath2)

label1_idx = random.sample(range(len(label1)), N_SAMPLES)
label2_idx = random.sample(range(len(label1)), N_SAMPLES)

In [27]:
sr, y = utility.read_wav_file(filepath1 + label1[0], TARGET_RATE)
y = utility.denoise_audio(y)
y, sr = utility.downsample(y, sr)

In [33]:
len(y)//30

857

# Testing out sktime

In [24]:
from sktime.classification.all import *
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X, y = load_arrow_head(return_X_y=True)
X_train, X_test, y_train, y_test = train_test_split(X, y)
classifier = TimeSeriesForest()

In [25]:
X

                                                 dim_0
0    0     -1.9630
1     -1.9578
2     -1.9561
3   ...
1    0     -1.7746
1     -1.7740
2     -1.7766
3   ...
2    0     -1.8660
1     -1.8420
2     -1.8350
3   ...
3    0     -2.0738
1     -2.0733
2     -2.0446
3   ...
4    0     -1.7463
1     -1.7413
2     -1.7227
3   ...
..                                                 ...
170  0     -1.6251
1     -1.6230
2     -1.6261
3   ...
171  0     -1.6578
1     -1.6647
2     -1.6326
3   ...
172  0     -1.6033
1     -1.5874
2     -1.5774
3   ...
173  0     -1.7390
1     -1.7415
2     -1.7329
3   ...
174  0     -1.6307
1     -1.6299
2     -1.6206
3   ...

[211 rows x 1 columns]